# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Variable files
*.tfvars
*.tfvars.json
!*.tfvars.example
!*.auto.tfvars.example
/*.tfvars

# Plans
*.tfplan

# Editors
.idea/
.DS_Store
